<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - Error')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height  primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->

            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150"><span class="f-700">Không tìm thấy </span>trang</h1>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== error-area-start
    ======================================================================= -->
    <div class="error-area mt-160 mb-165">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-10 col-12 text-center">
                    <h4 class="mb-30">403 - Bạn không có quyền truy cập nội dung này !</h4>
                    <div class="my-btn d-block pt-lg-4 pt-md-3 pt-2">
                        <a th:href="@{/}" class="btn theme-bg rounded-0 f-500">Quay lại Trang chủ</a>
                    </div>
                </div><!-- /col -->
                <div class="col-xl-12  col-lg-12  col-md-9  col-sm-10 col-12 text-center">
                    <img class="error-img1 mt-70" src="/images/about-page/about-page2.jpg" alt="image">
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /error-area -->
    <!-- error-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>