<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - My Courses')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height  primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150">Tất cả <span class="f-700">khóa học</span></h1>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->

    <div class="course-page2-tab-area mt-100 pb-30">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-xl-4  col-lg-4  col-md-12  col-sm-12 col-12 pl-lg-0">
                    <div class="course-filter-details">
                        <div class="course-filter-details-wrapper pt-10">
                            <div class="row">
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                    <div class="course-search position-relative">
                                        <h4 class="sidebar-title mb-22">Tìm kiếm khóa học</h4>
                                        <input class="w-100 pl-20 pr-20 form-control" type="text" name="courseName"
                                               placeholder="Nhập tên khóa học" id="search-course">
                                        <span class="position-absolute d-inline-block secondary-color"><i
                                                class="fa fa-search"></i></span>
                                    </div>
                                </div><!-- /col -->

                                <div class="col-xl-12 col-lg-12  col-md-4  col-sm-6 col-12">
                                    <div class="sidebar-widget mt-40 mb-30 Softweare-wrapper">
                                        <h4 class="sidebar-title mb-20">Xếp hạng</h4>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="radio" class=" radio" name="rating" id="4.5">
                                                    <a class="pl-10 review-ratting">
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fas fa-star-half-alt"></i></span>
                                                        <span class="secondary-color">4.5 trở lên</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="radio" class=" radio" name="rating" id="4.0">
                                                    <a class="secondary-color pl-10 review-ratting">
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color far fa-star"></i></span>
                                                        <span class="secondary-color">4.0 trở lên</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="radio" class=" radio" name="rating" id="3.5">
                                                    <a class="secondary-color pl-10 review-ratting">
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fa fa-star"></i></span>
                                                        <span><i class="r-star-color fas fa-star-half-alt"></i></span>
                                                        <span><i class="r-star-color far fa-star"></i></span>
                                                        <span class="secondary-color">3.5 trở lên</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul><!-- /f-category -->
                                    </div><!-- /course-menubar -->
                                </div><!-- /col -->

                                <div class="col-xl-12 col-lg-12  col-md-5  col-sm-6 col-12">
                                    <div class="sidebar-widget mt-10 mb-30 f-category">
                                        <h4 class="sidebar-title mb-20">Lĩnh vực</h4>
                                        <ul>
                                            <li th:each="trainingField : ${trainingFields}">
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio"
                                                           name="training-field" th:id="${trainingField.id}">
                                                    <a class="secondary-color pl-10"
                                                       th:text="${trainingField.fieldName}"></a>
                                                </div>
                                            </li>
                                        </ul><!-- /f-category -->
                                    </div><!-- /course-menubar -->
                                </div><!-- /col -->

                                <div class="col-xl-12 col-lg-12  col-md-4  col-sm-6 col-12">
                                    <div class="sidebar-widget mt-10 mb-30 Instructor-wrapper">
                                        <h4 class="sidebar-title mb-20">Giảng viên</h4>
                                        <ul>
                                            <li th:each="teacher : ${teachers}">
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio" name="teacher"
                                                           th:id="${teacher.id}">
                                                    <a class="secondary-color pl-10"
                                                       th:text="${teacher.user.fullName}"></a>
                                                </div>
                                            </li>
                                        </ul><!-- /f-category -->
                                    </div><!-- /course-menubar -->
                                </div><!-- /col -->

                                <div class="col-xl-12 col-lg-12  col-md-4  col-sm-6 col-12">
                                    <div class="sidebar-widget mb-30 Courses-wrapper">
                                        <h4 class="sidebar-title mb-20">Khóa học</h4>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio"
                                                           name="difficultyLevel" id="BEGINNER">
                                                    <a class="secondary-color pl-10">Mới bắt đầu</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio"
                                                           name="difficultyLevel" id="INTERMEDIATE">
                                                    <a class="secondary-color pl-10">Trung cấp</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio"
                                                           name="difficultyLevel" id="ADVANCED">
                                                    <a class="secondary-color pl-10">Nâng cao</a>
                                                </div>
                                            </li>
                                        </ul><!-- /f-category -->
                                    </div><!-- /course-menubar -->
                                </div><!-- /col -->

                                <div class="col-xl-12 col-lg-12  col-md-4  col-sm-6 col-12">
                                    <div class="sidebar-widget mb-30 Softweare-wrapper">
                                        <h4 class="sidebar-title mb-20">Mức giá</h4>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio" name="course-fee"
                                                           id="0">
                                                    <a class="secondary-color pl-10">Miễn phí</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mb-10">
                                                    <input type="checkbox" class="option-input radio" name="course-fee"
                                                           id="1">
                                                    <a class="secondary-color pl-10">Có phí</a>
                                                </div>
                                            </li>
                                        </ul><!-- /f-category -->
                                    </div><!-- /course-menubar -->
                                </div><!-- /col -->

                            </div><!-- /row -->
                        </div>
                    </div><!-- /course-filter-details -->
                </div><!-- /col -->

                <div class="col-xl-8  col-lg-8  col-md-12  col-sm-12 col-12">
                    <div class="my-3 mx-3" id="result-count">
                        <span>Hiển thị </span>
                        <select id="course-page-size">
                            <option value="6" th:selected="${pageSize==6}">6</option>
                            <option value="12" th:selected="${pageSize==12}">12</option>
                        </select>
                        <span th:text="${'của ' + totalElement + ' bản ghi'}">
                        </span>
                    </div>
                    <div class="course-page2-tab-wrapper">
                        <!-- ====== course-tabs-area-start================================ -->
                        <div class="course-tabs-area course-page-area mb-0">
                            <div class="course-page-content">
                                <div class="single-course-tab-content tab-content" id="myTabContent">
                                    <div class="tab-pane show active" id="s-p-list1" role="tabpanel"
                                         aria-labelledby="s-p-list1">
                                        <div class="row courses-tab-grid pt-18 pl-lg-3" id="course-container">
                                            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12"
                                                 th:each="course : ${courses}">
                                                <div class="single-popular-course zoom-img-hover">
                                                    <div class="position-relative">
                                                        <div class="p-course-img over-hidden position-relative">
                                                            <img class="w-100 h-200px img"
                                                                 th:src="@{'/api/v1/files/' + ${course.imageUrl}}"
                                                                 alt="course-image">
                                                            <div class="pc-category z-index1 position-absolute">
                                                                <span class="text-white f-500 theme-bg d-inline-block py-1 px-3"
                                                                      th:text="${course.trainingFields.get(0)}"></span>
                                                            </div><!-- /pc-category  -->
                                                        </div><!-- /p-course img -->
                                                    </div>
                                                    <div class="popular-course-content-wrapper bg-white pt-25 pl-20 pr-20">
                                                        <div class="pc-info d-flex align-items-center justify-content-between pb-15">
                                                            <ul class="review-ratting mr-800">
                                                                <li th:if="${course.rating == 5}">
                                                                    <span><i class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span>
                                                                </li>
                                                                <li th:if="${course.rating == 4.5}">
                                                                    <span><i class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fas fa-star-half-alt"></i></span>
                                                                </li>
                                                                <li th:if="${course.rating == 4}">
                                                                    <span><i class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="far fa-star"></i></span>
                                                                </li>
                                                                <li th:if="${course.rating == 3.5}">
                                                                    <span><i class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fas fa-star-half-alt"></i></span><span><i
                                                                        class="far fa-star"></i></span>
                                                                </li>
                                                                <li th:if="${course.rating == 3}">
                                                                    <span><i class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="fa fa-star"></i></span><span><i
                                                                        class="far fa-star"></i></span><span><i
                                                                        class="far fa-star"></i></span>
                                                                </li>
                                                            </ul><!-- /review-ratting -->
                                                            <p class="badge badge-primary ml-35"
                                                               th:text="${course.difficultyLevel.name}"></p>
                                                        </div>
                                                        <div class="single-popular-course-content primary-border-bottom pb-6">
                                                            <h3>
                                                                <a class="show-course-btn focused cursor-pointer text-dark"
                                                                   th:attr="course-id=${course.id}"
                                                                   th:text="${course.title}"></a></h3>
                                                            <p class="admin mb-2">
                                                                Bởi <span class="theme-color f-500 d-inline-block"
                                                                          th:text="${course.teacherName}"></span>
                                                            </p>
                                                        </div><!-- /course-content -->
                                                        <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                                            <p class="pc-student mb-0">
                                                                <span><i class="fal fa-user"></i></span>
                                                                <span th:text="${course.learnerCount}"></span>
                                                            </p>
                                                            <div class="pc-price">
                                                                <span class="primary-color f-500 d-inline-block"
                                                                      th:text="${#numbers.formatDecimal(course.courseFee, 0, 'COMMA', 0, 'POINT')}"></span>
                                                                <span class="primary-color f-500 d-inline-block"
                                                                      th:text="${course.courseFeeUnit}"></span>
                                                            </div>
                                                        </div>
                                                    </div><!-- /popular-course-content-wrapper -->
                                                </div><!-- /single-course -->
                                            </div><!-- /col -->
                                        </div><!-- /row -->
                                    </div>
                                </div>
                            </div><!-- /course-content -->
                        </div>
                        <!-- course-area-end  -->
                    </div><!-- /course-page2-tab-wrapper -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /course-page2-tab-area -->
    <div class="course-page2-tab-area mt-50 pb-100">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <div class="ml-2">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/courses?pageSize=' + ${pageSize} + '&' + 'currentPage=0'}">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a th:class="${'page-link ' + (currentPage == 0 ? 'disabled-page' : '')}"
                           th:href="@{${currentPage} != 0 ? ('/courses?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${currentPage - 1}) : '#'}">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                    <th:block th:each="index : ${#numbers.sequence(0, totalPage - 1)}">
                        <li th:class="${'page-item ' + (index == currentPage ? 'active' : '')}">
                            <a class="page-link"
                               th:href="@{'/courses?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${index}}"
                               th:text="${index + 1}"></a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a th:class="${'page-link ' + (currentPage == (totalPage - 1) ? 'disabled-page' : '')}"
                           th:href="@{${currentPage} != (${totalPage} - 1) ? ('/courses?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${currentPage + 1}) : '#'}">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/courses?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${totalPage - 1}}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>

</body>

<script src="/js/course/user-course.js"></script>
</html>