<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Học tập - Larna')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->
<div th:replace="~{admin/fragments/admin-header :: admin-header}"></div>

<main>

    <!-- ====== faq-page-area-start============================================ -->
    <div class="faq-page-area faq-page2 pt-130 mb-115">
        <div class="container" style="max-width: 1400px;">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="course-management">

                    
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- faq-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->

<footer th:replace="~{admin/fragments/admin-footer :: admin-footer}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{course/modal/course-delete-modal :: course-delete-modal}"></div>
<div th:replace="~{course/modal/course-modal :: course-modal}"></div>
<div th:replace="~{course/modal/course-approve-modal :: course-approve-modal}"></div>
<div th:replace="~{course/modal/course-publish-modal :: course-publish-modal}"></div>
<div th:replace="~{course/modal/course-review-modal :: course-review-modal}"></div>
<div th:replace="~{course/modal/course-unpublish-modal :: course-unpublish-modal}"></div>
<div th:replace="~{course/modal/course-archive-modal :: course-archive-modal}"></div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>

</body>

<script src="/js/course/course.js"></script>
</html>