<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Học tập - Larna')}"></head>

<body>

<header>
    <div id="header-sticky" class="transparent-header header-area home2 home4 white-color-header pt-2 pb-2 bg-primary">
        <div>
            <div class="container-wrapper">
                <div class="row align-items-center justify-content-between position-relative">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
                        <div class="logo">
                            <a th:href="@{/courses/management}" class="d-block"><i class="fas fa-less-than"></i> Quay
                                lại</a>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5 col-5 pl-lg-0">
                        <div class="header-right d-flex align-items-center justify-content-end" id="subHeader">

                        </div><!-- /header-right -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div><!-- /header-bottom -->
</header>

<main>

    <div class="container-fluid mt-50 p-0">
        <div class="row m-0 p-0">
            <!-- Cột bên trái -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 m-0 p-0" id="left-section-content">
                <!-- Form thêm bài giảng -->
                <div class="d-flex justify-content-center align-items-center mt-200">
                    <div class="text-center">
                        <span class="btn-primary d-inline-block p-2 rounded-circle">
                            <i class="fas fa-question-circle fa-5x"></i></span>
                        <div class="mt-3">Hãy thêm nội dung các bài học</div>
                    </div>
                </div>
            </div>

            <!-- Cột bên phải -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 m-0 p-0 border-left"
                 style="border-left: 4px solid #dee2e6; min-height: 100vh;">
                <h6 class="mt-40 ml-30" th:text="${courseTitle}"></h6>
                <div class="mt-4 ml-200 mb-4">
                    <a class="btn btn-primary f-500 create-section-btn">
                        <i class="fas fa-plus mr-2"></i>Thêm chương
                    </a>
                </div>

                <!-- Danh sách chương -->
                <div class="list-group mb-50">
                    <div th:each="section, sectionIndex : ${sections}">
                        <a class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0"
                           data-toggle="collapse" th:data-target="'#section' + ${section.id}">
                            <span class="h6 focused cursor-pointer sectionTitle">
                                <i class="fas fa-caret-down"></i>
                                <span class="pl-1" th:text="${sectionIndex.index + 1}"></span>.
                                <span th:text="${section.title}"></span>
                            </span>
                            <div class="dropdown float-right dropleft">
                                <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item update-section-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}">Cập nhật chương
                                    </button>
                                    <button class="dropdown-item add-lesson-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}, section-title=${section.title}">Thêm bài
                                        học/quiz
                                    </button>
                                    <button class="dropdown-item hide-lesson-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}" th:if="${courseStatus.code != 'DRAFT'}">
                                        Ẩn chương với học viên
                                    </button>
                                    <button class="dropdown-item delete-section-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}" th:if="${courseStatus.code == 'DRAFT'}">
                                        Xóa chương
                                    </button>
                                </div>
                            </div>
                        </a>
                        <div class="collapse" th:id="'section' + ${section.id}">
                            <div class="list-group">
                                <a th:each="lesson, lessonIndex : ${section.lessons}"
                                   class="list-group-item list-group-item-action border-0"
                                   data-toggle="collapse" th:data-target="'#lesson' + ${lesson.id}">
                                    <span class="pl-3" th:text="${sectionIndex.index + 1}"></span>.
                                    <span class="p-0 m-0" th:text="${lessonIndex.index + 1}"></span>.
                                    <span th:text="${lesson.title}"></span>
                                    <div class="dropdown float-right dropleft">
                                        <button class="btn btn-sm btn-outline-secondary" type="button"
                                                data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button class="dropdown-item update-lesson-btn focused cursor-pointer"
                                                    th:attr="lesson-id=${lesson.id}">Cập nhật bài học
                                            </button>
                                            <button class="dropdown-item hide-lesson-btn focused cursor-pointer"
                                                    th:attr="lesson-id=${lesson.id}"
                                                    th:if="${courseStatus.code != 'DRAFT'}">Ẩn bài học với học viên
                                            </button>
                                            <button class="dropdown-item delete-lesson-btn focused cursor-pointer"
                                                    th:attr="lesson-id=${lesson.id}"
                                                    th:if="${courseStatus.code == 'DRAFT'}">Xóa bài học
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group" th:with="totalLessonCount=${#lists.size(section.lessons)}">
                                <a th:each="quiz, quizIndex : ${section.quizzes}"
                                   class="list-group-item list-group-item-action border-0"
                                   data-toggle="collapse" th:data-target="'#quiz' + ${quiz.id}">
                                    <span class="pl-3" th:text="${sectionIndex.index + 1}"></span>.
                                    <span class="p-0 m-0" th:text="${quizIndex.index + 1 + totalLessonCount}"></span>.
                                    <span th:text="${quiz.title}"></span>
                                    <div class="dropdown float-right dropleft">
                                        <button class="btn btn-sm btn-outline-secondary" type="button"
                                                data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button class="dropdown-item update-quiz-btn focused cursor-pointer"
                                                    th:attr="quiz-id=${quiz.id}">Cập nhật quiz
                                            </button>
                                            <button class="dropdown-item hide-quiz-btn focused cursor-pointer"
                                                    th:attr="quiz-id=${quiz.id}"
                                                    th:if="${courseStatus.code != 'DRAFT'}">Ẩn quiz với học viên
                                            </button>
                                            <button class="dropdown-item delete-quiz-btn focused cursor-pointer"
                                                    th:attr="quiz-id=${quiz.id}"
                                                    th:if="${courseStatus.code == 'DRAFT'}">Xóa quiz
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<div th:replace="~{course/modal/section-modal :: section-modal}"></div>
<div th:replace="~{course/modal/section-delete-modal :: section-delete-modal}"></div>
<div th:replace="~{course/modal/lesson-delete-modal :: lesson-delete-modal}"></div>
<div th:replace="~{course/modal/quiz-delete-modal :: quiz-delete-modal}"></div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>

<script src="/js/course/section.js"></script>
<script src="/js/course/lesson.js"></script>
<script src="/js/course/quiz.js"></script>

</html>