<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Học tập - Larna')}"></head>

<body>

<header>
    <div id="header-sticky" class="transparent-header header-area home2 home4 white-color-header pt-3 pb-2 bg-primary">
        <div>
            <div class="container-wrapper">
                <div class="row align-items-center justify-content-between position-relative">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
                        <div class="logo">
                            <a th:href="@{/courses/management}" class="d-block"><i class="fas fa-less-than"></i> Quay
                                lại</a>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5 col-5 pl-lg-0">
                        <div class="header-right d-flex align-items-center justify-content-end" id="subHeader">

                        </div><!-- /header-right -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div><!-- /header-bottom -->
</header>

<main>

    <div class="container mt-5">
        <div class="row mx-0 my-0 px-0 py-0">
            <!-- Cột bên trái -->
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 mr-0" id="left-section-content">
                <!-- Form thêm bài giảng -->

            </div>

            <!-- Cột bên phải -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 ml-0 border-left"
                 style="border-left: 4px solid #dee2e6; min-height: 100vh;">
                <h6 class="mb-3 mt-40" th:text="${courseTitle}"></h6>
                <!-- Nút thêm chương -->
                <div class="mt-4 ml-100 mb-4">
                    <a class="btn btn-primary f-500 create-section-btn">
                        <i class="fas fa-plus mr-2"></i>Thêm chương
                    </a>
                </div>

                <!-- Danh sách chương -->
                <div class="list-group">
                    <div th:each="section : ${sections}">
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse"
                           th:data-target="'#chapter' + ${section.id}">
                            <span th:text="${section.title}" class="h6"></span>
                            <div class="dropdown float-right">
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item update-section-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}">Cập nhật chương
                                    </button>
                                    <button class="dropdown-item add-lesson-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}, section-title=${section.title}">Thêm bài học
                                    </button>
                                    <button class="dropdown-item hide-lesson-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}">Ẩn nội dung chương
                                    </button>
                                    <button class="dropdown-item delete-section-btn focused cursor-pointer"
                                            th:attr="section-id=${section.id}">Xóa chương
                                    </button>
                                </div>
                            </div>
                        </a>
                        <div class="collapse" th:id="'section' + ${section.id}">
                            <!-- Danh sách bài học trong chương -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<div th:replace="~{course/section-modal :: section-modal}"></div>
<div th:replace="~{course/section-delete-modal :: section-delete-modal}"></div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>