<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - My Instructors')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height  primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->

            <div class="container">
                <div class="row">

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150"><span class="f-700">Giảng viên</span></h1>
                        </div>
                    </div><!-- /col -->

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== instructor-page-area-start================================ -->
    <div class="instructor-page-area instructor-page2 pt-170 mb-170 over-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor1.jpeg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Johnson</span> Doe</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor2.jpeg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Diana</span> Prince</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor3.png"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Bruce</span> Wayne</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor4.jpeg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Selina</span> Kyle</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor5.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Peter</span> Parker</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor6.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Tony</span> Stark</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor7.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Johnson</span> Doe</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor8.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Britt</span> Reid</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor9.png"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Bruce</span> Doe</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor10.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Clark</span> Richards</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor11.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Johnson</span> Doe</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="single-instructor-wrapper mb-45">
                        <div class="single-instructor d-flex justify-content-center pb-4">
                            <div class="instructor-img position-relative">
                                <img class="rounded-circle" src="/images/instructor/instructor12.jpg"
                                     alt="instructor-image0">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                        </div><!-- /single-instructor -->
                        <div class="instructor-content text-center mt-0">
                            <h6 class="f-500 mb-0"><span class="f-700">Barry</span> Allen</h6>
                            <p class="mb-15">Business</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->


        <!-- ====== pagination-area-start================================ -->
<!--        <div class="pagination-area mt-25 over-hidden">-->
<!--            <div class="container-wrapper extra-padding-15">-->
<!--                <div class="row">-->
<!--                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">-->
<!--                        <nav class="pagination-page" aria-label="Page navigation example">-->
<!--                            <ul class="pagination align-items-center justify-content-center">-->
<!--                                <li class="page-item">-->
<!--                                    <a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>-->
<!--                                </li>-->
<!--                                <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                <li class="page-item">-->
<!--                                    <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </nav>-->
<!--                    </div>&lt;!&ndash; /col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /container &ndash;&gt;-->
<!--        </div>-->
        <!-- pagination-area-end -->

    </div>
    <!-- instructor-page-end  -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>


<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>


<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>