<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - Instructor Details')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height  primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->

            <div class="container">
                <div class="row">

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">

                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150"><span class="f-700">Instructors</span> details</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item"><a class="text-white" href="../index.html">Home</a></li>
                                    <li class="breadcrumb-item active text-capitalize text-white" aria-current="page">
                                        Instructors
                                    </li>
                                </ol>
                            </nav>

                        </div>
                    </div><!-- /col -->

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== instructor-page-area-start================================ -->
    <div class="instructor-details-page-area instructor-details-page1 pt-170 over-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="instructor-person-info mb-50">
                        <img class="w-100" src="/images/instructor-page/instructor-details-img.jpg"
                             alt="instructor-image0">

                        <div class="instructor-content text-center mt-md-3 mt-4">
                            <h6 class="f-500 mb-1"><span class="f-700">Johnson</span> Doe</h6>
                            <p class="mb-2">IT Specialist</p>
                            <span class="secondary-color d-inline-block"><i class="fal fa-envelope"></i><span
                                    class="ml-2">johndoe@gmail.com</span></span>
                            <ul class="social social-bg text-center d-flex justify-content-center mt-15">
                                <li class="mr-2">
                                    <a class="facebook-bg text-center rounded-circle pr-0  text-white d-inline-block transition-3"
                                       href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="mr-2">
                                    <a class="twitter-bg text-center rounded-circle pr-0 text-white d-inline-block transition-3"
                                       href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="mr-2">
                                    <a class="linkedin-bg text-center rounded-circle pr-0 text-white d-inline-block transition-3"
                                       href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /single-instructor -->
                </div><!-- /col -->

                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="instructor-details-content-wrapper pl-40">
                        <div class="id-c-describe mb-60">
                            <h3 class="mb-20">About</h3>
                            <p>Ampor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor
                                sunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco labonsequuntur magni dolores eos qui ratione voluptatem sequi
                                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolor.</p>
                        </div>

                        <div class="id-c-describe mb-60">
                            <h3 class="mb-20">Education</h3>
                            <p>Ampor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor
                                sunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </div>

                        <div class="id-c-describe mb-40">
                            <h3 class="mb-20">Education</h3>
                            <p>Ampor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor
                                sunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip</p>
                        </div>
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- instructor-page-end  -->


    <!-- ====== instructor-details-related-course-area-start=========================================== -->
    <div class="instructor-details-related-course-area mb-145 mt-20">
        <div class="container">
            <h4 class="mb-35">Course By John Doe</h4>
            <div class="row">
                <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12 col-12">
                    <div class="single-popular-course zoom-img-hover">

                        <div class="position-relative">
                            <div class="p-course-img over-hidden position-relative">
                                <img class="w-100 img" src="/images/course/popular-course-img1.jpg" alt="course-image01">

                                <div class="pc-category z-index1 position-absolute">
                                    <span class="text-white f-500 theme-bg d-inline-block py-1 px-3">Softweare</span>
                                </div><!-- /pc-category  -->
                            </div><!-- /p-course img -->

                            <div class="pc-author-img z-index1 position-absolute">
                                <img src="/images/course/course-author-img1.jpg" alt="">
                            </div><!-- /author-img -->
                        </div>

                        <div class="popular-course-content-wrapper bg-white pt-25 pl-30 pr-30">
                            <div class="popular-course-review d-flex align-items-center mb-1">
                                <ul class="review-ratting mr-10">
                                    <li>
                                        <span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span> <span><i
                                            class="fa fa-star"></i></span>
                                    </li>
                                </ul><!-- /review-ratting -->
                                <div class="p-c-review">
                                    <p class="mb-0">243 Review</p>
                                </div><!-- /p-c-review -->
                            </div><!-- /popular-course-review -->

                            <div class="single-popular-course-content primary-border-bottom pb-6">
                                <h3>
                                    <a href="../course/course-details.html">Design for the web with Abobe Illustrator
                                        and photoshop</a>
                                </h3>
                                <p class="admin mb-2">
                                    By <span class="theme-color f-500 d-inline-block">Cristofer Neilson</span>
                                </p>
                                <p>At torem ipsum conse icing elit, sed do eiusmod tempor iur onre dol ...</p>
                            </div><!-- /course-content -->

                            <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                <p class="pc-student mb-0">
                                    <span><i class="fal fa-user"></i></span>
                                    3584
                                </p>
                                <div class="pc-price">
                                    <span class="primary-color f-500 d-inline-block">$199</span>
                                </div>
                            </div>
                        </div><!-- /popular-course-content-wrapper -->

                    </div><!-- /single-course -->
                </div><!-- /col -->

                <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12 col-12">
                    <div class="single-popular-course zoom-img-hover">

                        <div class="position-relative">
                            <div class="p-course-img over-hidden position-relative">
                                <img class="w-100 img" src="/images/course/popular-course-img2.jpg" alt="course-image01">

                                <div class="pc-category z-index1 position-absolute">
                                    <span class="text-white f-500 theme-bg d-inline-block py-1 px-3">Softweare</span>
                                </div><!-- /pc-category  -->
                            </div><!-- /p-course img -->

                            <div class="pc-author-img z-index1 position-absolute">
                                <img src="/images/course/course-author-img2.jpg" alt="">
                            </div><!-- /author-img -->
                        </div>

                        <div class="popular-course-content-wrapper bg-white pt-25 pl-30 pr-30">
                            <div class="popular-course-review d-flex align-items-center mb-1">
                                <ul class="review-ratting mr-10">
                                    <li>
                                        <span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span> <span><i
                                            class="fa fa-star"></i></span>
                                    </li>
                                </ul><!-- /review-ratting -->
                                <div class="p-c-review">
                                    <p class="mb-0">243 Review</p>
                                </div><!-- /p-c-review -->
                            </div><!-- /popular-course-review -->

                            <div class="single-popular-course-content primary-border-bottom bg-white pb-6">
                                <h3>
                                    <a href="../course/course-details.html">Design for the web with Abobe Illustrator
                                        and photoshop</a>
                                </h3>
                                <p class="admin mb-2">
                                    By <span class="theme-color f-500 d-inline-block">Cristofer Neilson</span>
                                </p>
                                <p>At torem ipsum conse icing elit, sed do eiusmod tempor iur onre dol ...</p>
                            </div><!-- /course-content -->

                            <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                <p class="pc-student mb-0">
                                    <span><i class="fal fa-user"></i></span>
                                    3584
                                </p>
                                <div class="pc-price">
                                    <span class="primary-color f-500 d-inline-block">$199</span>
                                </div>
                            </div>
                        </div><!-- /popular-course-content-wrapper -->

                    </div><!-- /single-course -->
                </div><!-- /col -->

                <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12 col-12">
                    <div class="single-popular-course zoom-img-hover">

                        <div class="position-relative">
                            <div class="p-course-img over-hidden position-relative">
                                <img class="w-100 img" src="/images/course/popular-course-img3.jpg" alt="course-image01">

                                <div class="pc-category z-index1 position-absolute">
                                    <span class="text-white f-500 theme-bg d-inline-block py-1 px-3">Softweare</span>
                                </div><!-- /pc-category  -->
                            </div><!-- /p-course img -->

                            <div class="pc-author-img z-index1 position-absolute">
                                <img src="/images/course/course-author-img3.jpg" alt="">
                            </div><!-- /author-img -->
                        </div>

                        <div class="popular-course-content-wrapper bg-white pt-25 pl-30 pr-30">
                            <div class="popular-course-review d-flex align-items-center mb-1">
                                <ul class="review-ratting mr-10">
                                    <li>
                                        <span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span> <span><i
                                            class="fa fa-star"></i></span>
                                    </li>
                                </ul><!-- /review-ratting -->
                                <div class="p-c-review">
                                    <p class="mb-0">243 Review</p>
                                </div><!-- /p-c-review -->
                            </div><!-- /popular-course-review -->

                            <div class="single-popular-course-content primary-border-bottom bg-white pb-6">
                                <h3>
                                    <a href="../course/course-details.html">Design for the web with Abobe Illustrator
                                        and photoshop</a>
                                </h3>
                                <p class="admin mb-2">
                                    By <span class="theme-color f-500 d-inline-block">Cristofer Neilson</span>
                                </p>
                                <p>At torem ipsum conse icing elit, sed do eiusmod tempor iur onre dol ...</p>
                            </div><!-- /course-content -->

                            <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                <p class="pc-student mb-0">
                                    <span><i class="fal fa-user"></i></span>
                                    3584
                                </p>
                                <div class="pc-price">
                                    <span class="primary-color f-500 d-inline-block">$199</span>
                                </div>
                            </div>
                        </div><!-- /popular-course-content-wrapper -->

                    </div><!-- /single-course -->
                </div><!-- /col -->

                <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12 col-12">
                    <div class="single-popular-course zoom-img-hover">

                        <div class="position-relative">
                            <div class="p-course-img over-hidden position-relative z-index-1">
                                <img class="w-100 img" src="/images/course/popular-course-img4.jpg" alt="course-image01">

                                <div class="pc-category z-index1 position-absolute">
                                    <span class="text-white f-500 theme-bg d-inline-block py-1 px-3">Software</span>
                                </div><!-- /pc-category  -->
                            </div><!-- /p-course img -->

                            <div class="pc-author-img z-index1 position-absolute">
                                <img src="/images/course/course-author-img1.jpg" alt="">
                            </div><!-- /author-img -->
                        </div>

                        <div class="popular-course-content-wrapper bg-white pt-25 pl-30 pr-30">
                            <div class="popular-course-review d-flex align-items-center mb-1">
                                <ul class="review-ratting mr-10">
                                    <li>
                                        <span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span> <span><i
                                            class="fa fa-star"></i></span>
                                    </li>
                                </ul><!-- /review-ratting -->
                                <div class="p-c-review">
                                    <p class="mb-0">243 Review</p>
                                </div><!-- /p-c-review -->
                            </div><!-- /popular-course-review -->

                            <div class="single-popular-course-content primary-border-bottom bg-white pb-6">
                                <h3>
                                    <a href="../course/course-details.html">Design for the web with Abobe Illustrator
                                        and photoshop</a>
                                </h3>
                                <p class="admin mb-2">
                                    By <span class="theme-color f-500 d-inline-block">Cristofer Neilson</span>
                                </p>
                                <p>At torem ipsum conse icing elit, sed do eiusmod tempor iur onre dol ...</p>
                            </div><!-- /course-content -->

                            <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                <p class="pc-student mb-0">
                                    <span><i class="fal fa-user"></i></span>
                                    3584
                                </p>
                                <div class="pc-price">
                                    <span class="primary-color f-500 d-inline-block">$199</span>
                                </div>
                            </div>
                        </div><!-- /popular-course-content-wrapper -->

                    </div><!-- /single-course -->
                </div><!-- /col -->

                <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12 col-12">
                    <div class="single-popular-course zoom-img-hover">

                        <div class="position-relative">
                            <div class="p-course-img over-hidden position-relative">
                                <img class="w-100 img" src="/images/course/popular-course-img5.jpg" alt="course-image01">

                                <div class="pc-category z-index1 position-absolute">
                                    <span class="text-white f-500 theme-bg d-inline-block py-1 px-3">Softweare</span>
                                </div><!-- /pc-category  -->
                            </div><!-- /p-course img -->

                            <div class="pc-author-img z-index1 position-absolute">
                                <img src="/images/course/course-author-img1.jpg" alt="">
                            </div><!-- /author-img -->
                        </div>

                        <div class="popular-course-content-wrapper bg-white pt-25 pl-30 pr-30">
                            <div class="popular-course-review d-flex align-items-center mb-1">
                                <ul class="review-ratting mr-10">
                                    <li>
                                        <span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span> <span><i
                                            class="fa fa-star"></i></span>
                                    </li>
                                </ul><!-- /review-ratting -->
                                <div class="p-c-review">
                                    <p class="mb-0">243 Review</p>
                                </div><!-- /p-c-review -->
                            </div><!-- /popular-course-review -->

                            <div class="single-popular-course-content primary-border-bottom bg-white pb-6">
                                <h3>
                                    <a href="../course/course-details.html">Design for the web with Abobe Illustrator
                                        and photoshop</a>
                                </h3>
                                <p class="admin mb-2">
                                    By <span class="theme-color f-500 d-inline-block">Cristofer Neilson</span>
                                </p>
                                <p>At torem ipsum conse icing elit, sed do eiusmod tempor iur onre dol ...</p>
                            </div><!-- /course-content -->

                            <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                <p class="pc-student mb-0">
                                    <span><i class="fal fa-user"></i></span>
                                    3584
                                </p>
                                <div class="pc-price">
                                    <span class="primary-color f-500 d-inline-block">$199</span>
                                </div>
                            </div>
                        </div><!-- /popular-course-content-wrapper -->

                    </div><!-- /single-course -->
                </div><!-- /col -->

                <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12 col-12">
                    <div class="single-popular-course zoom-img-hover">

                        <div class="position-relative">
                            <div class="p-course-img over-hidden position-relative">
                                <img class="w-100 img" src="/images/course/popular-course-img6.jpg" alt="course-image01">

                                <div class="pc-category z-index1 position-absolute">
                                    <span class="text-white f-500 theme-bg d-inline-block py-1 px-3">Softweare</span>
                                </div><!-- /pc-category  -->
                            </div><!-- /p-course img -->

                            <div class="pc-author-img z-index1 position-absolute">
                                <img src="/images/course/course-author-img3.jpg" alt="">
                            </div><!-- /author-img -->
                        </div>

                        <div class="popular-course-content-wrapper bg-white pt-25 pl-30 pr-30">
                            <div class="popular-course-review d-flex align-items-center mb-1">
                                <ul class="review-ratting mr-10">
                                    <li>
                                        <span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span> <span><i
                                            class="fa fa-star"></i></span>
                                    </li>
                                </ul><!-- /review-ratting -->
                                <div class="p-c-review">
                                    <p class="mb-0">243 Review</p>
                                </div><!-- /p-c-review -->
                            </div><!-- /popular-course-review -->

                            <div class="single-popular-course-content primary-border-bottom bg-white pb-6">
                                <h3>
                                    <a href="../course/course-details.html">Design for the web with Abobe Illustrator
                                        and photoshop</a>
                                </h3>
                                <p class="admin mb-2">
                                    By <span class="theme-color f-500 d-inline-block">Cristofer Neilson</span>
                                </p>
                                <p>At torem ipsum conse icing elit, sed do eiusmod tempor iur onre dol ...</p>
                            </div><!-- /course-content -->

                            <div class="pc-info d-flex align-items-center justify-content-between pt-12 pb-15">
                                <p class="pc-student mb-0">
                                    <span><i class="fal fa-user"></i></span>
                                    3584
                                </p>
                                <div class="pc-price">
                                    <span class="primary-color f-500 d-inline-block">$199</span>
                                </div>
                            </div>
                        </div><!-- /popular-course-content-wrapper -->

                    </div><!-- /single-course -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- instructor-details-related-course-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>


<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>


<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>