<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Học tập - Larna')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height  primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->

            <div class="container">
                <div class="row">

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150"><span class="f-700">Giỏ hàng</span></h1>
                        </div>
                    </div><!-- /col -->

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== cart-area-start=============================================== -->
    <div class="cart-area mt-100 mb-100">
        <div class="container">
            <h3 class="mb-40 cart-title">[[${totalCourses}]] khóa học trong giỏ hàng</h3>
            <div class="cart-table table-responsive">
                <table class="table border-0" th:if="${totalCourses != 0}">
                    <thead>
                    <tr>
                        <th scope="col" class="pl-0" style="width: 60%">Khóa học</th>
                        <th scope="col" style="width: 10%">Giá</th>
                        <th scope="col" style="width: 20%"></th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartItem : ${cartItems}">
                        <td class="w-50 pl-0">
                            <div class="cart-item-wrapper d-flex align-items-center">
                                <div class="col-md-4 pr-0 mr-0">
                                    <img class="w-75 img" th:src="@{'/api/v1/files/' + ${cartItem.course.imageUrl}}"
                                         alt="course-image01">
                                </div>
                                <div class="col-md-8 ml-0 pl-0">
                                    <h5 class="ml-0">
                                        <a class="p-name main-color cursor-pointer show-course-btn" th:attr="course-id=${cartItem.course.id}">[[${cartItem.course.title}]]</a>
                                    </h5>
                                    <p class="admin mb-0">
                                        Bởi<span
                                            class="theme-color f-500 d-inline-block pl-2" th:text="${cartItem.course.teacherName}"></span>
                                    </p>
                                    <div class="pc-info d-md-flex align-items-center">
                                        <div class="popular-course-review d-flex align-items-center">
                                            <ul class="review-ratting mr-10">
                                                <li th:if="${cartItem.course.rating == 5}">
                                                    <span><i class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span>
                                                </li>
                                                <li th:if="${cartItem.course.rating == 4.5}">
                                                    <span><i class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fas fa-star-half-alt"></i></span>
                                                </li>
                                                <li th:if="${cartItem.course.rating == 4}">
                                                    <span><i class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="far fa-star"></i></span>
                                                </li>
                                                <li th:if="${cartItem.course.rating == 3.5}">
                                                    <span><i class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fas fa-star-half-alt"></i></span><span><i
                                                        class="far fa-star"></i></span>
                                                </li>
                                                <li th:if="${cartItem.course.rating == 3}">
                                                    <span><i class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="fa fa-star"></i></span><span><i
                                                        class="far fa-star"></i></span><span><i
                                                        class="far fa-star"></i></span>
                                                </li>
                                            </ul><!-- /review-ratting -->
                                            <p class="pc-student mb-0 ml-15">
                                                <span><i class="fal fa-user"></i> [[${cartItem.course.learnerCount}]]</span>
                                            </p>
                                        </div><!-- /popular-course-review -->
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="primary-color f-500 d-inline-block"
                                  th:text="${#numbers.formatDecimal(cartItem.course.courseFee, 0, 'COMMA', 0, 'POINT')}"></span>
                            <span class="primary-color f-500 d-inline-block"
                                  th:text="${cartItem.course.courseFeeUnit}"></span>
                        </td>
                        <td>
                            <div class="my-btn d-none d-sm-block text-center">
                                <a class="btn theme-bg cursor-pointer move-to-wishlist"
                                   th:attr="course-id=${cartItem.course.id}">Chuyển vào danh sách mong muốn</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <a class="p-remove secondary-color primary-border2 rounded-circle d-inline-block text-center cursor-pointer
                                remove-cart-item" th:attr="cartItem-id=${cartItem.id}"><span><i class="fal fa-times"></i></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="coupon-and-update-area pt-20">
                <div class="row">
                    <div class="col-xl-8  col-lg-6  col-md-6  col-sm-12 col-12">
                        <div class="shoping-con-area">
                            <form action="#">
                                <div class="my-btn">
                                    <a th:href="@{/courses}"
                                       class="btn d-inline-block primary-bg rounded-0 mt-15">Xem các khóa học khác</a>
                                </div><!-- /my-btn -->
                            </form>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4  col-lg-6  col-md-6  col-sm-12 col-12">
                        <div class="update-area text-md-right">
                            <a class="btn primary-border2 text-uppercase f-500 d-inline-block rounded-0 main-color mt-15 mr-3 cursor-pointer update-cart">
                                Cập nhật giỏ hàng</a>
                            <a class="btn primary-border2 text-uppercase f-500 d-inline-block rounded-0 main-color mt-15 cursor-pointer
                            remove-all-cart-item" th:attr="cart-id=${cartId}"> Xóa hết</a>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div>

            <div class="cart-bottom-content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mr-200">
                        <div class="coupon-apply-area mt-70">
                            <h5 class="cart-title mb-30">Bạn có mã giảm giá ?</h5>
                            <form action="#">
                                <input type="text" placeholder="Nhập mã giảm giá" class="w-100 pl-15 mr-2">
                                <div class="my-btn">
                                    <a class="btn d-inline-block transparent-bg f-500 rounded-0 mt-3 cursor-pointer">Áp dụng
                                        mã</a>
                                </div><!-- /my-btn -->
                            </form>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4  col-lg-4  col-md-12  col-sm-12 col-12 ml-200 mt-30">
                        <div class="total-price-area total-price-bg text-center pt-25 pb-25 pr-30 pl-30 mt-50">
                            <ul class="pt-20 pb-20">
                                <li class="g-total d-flex justify-content-between align-items-center text-uppercase f-500">
                                    <span class="primary-color f-500 d-inline-block">Tổng cộng</span>
                                    <span class="primary-color mr-2 pr-2"
                                          th:text="${#numbers.formatDecimal(totalFee, 0, 'COMMA', 0, 'POINT')} + ' VND'"></span>
                                </li>
                            </ul>
                            <div class="my-btn mt-4">
                                <a th:href="@{/payments}" class="btn d-block theme-bg f-500 rounded-0 px-1 ">
                                    Tiến hành thanh toán</a>
                            </div><!-- /my-btn -->
                        </div>
                    </div><!-- /col -->
                </div>
            </div>
        </div><!-- /container -->
    </div>
    <!-- cart-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
<script src="/js/course/user-course.js"></script>

</html>