<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ====== footer-area-start ============================================ -->
<footer th:fragment="admin-footer">
    <div class="footer-area page-footer fixed-bottom bg-white shadow">
        <div class="footer-bottom footer-top-border1">
            <div class="container">
                <div class="copyright-area">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-6  col-lg-5  col-md-12  col-sm-12 col-12">
                            <div class="copyright-text text-center text-lg-left">
                                <p class="mb-0 text-dark">
                                    <a href="https://themeforest.net/user/ethemestudio/portfolio"
                                       class="c-theme text-dark f-500">eThemeStudio</a> © 2023
                                </p>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-6  col-lg-7  col-md-12  col-sm-12 col-12">
                            <ul class="useful-link text-center text-lg-right mt-20">
                                <li class="d-inline-block mb-20">
                                    <a href="#" class="secondary-color text-dark d-inline-block">Điều khoản</a>
                                </li>
                                <li class="d-inline-block pl-45 mb-20">
                                    <a href="#" class="secondary-color text-dark d-inline-block">Quyền riêng tư</a>
                                </li>
                                <li class="d-inline-block pl-45 mb-20">
                                    <a href="#" class="secondary-color text-dark d-inline-block">Cài đặt cookie</a>
                                </li>
                            </ul><!-- social -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /copyright-area -->
            </div><!-- /container -->
        </div>
    </div>
</footer>

</body>
</html>