<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Học tập - Larna')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->
<div th:replace="~{fragments/other-page-area :: other_page(pageContent = 'Quản lý khóa học')}"></div>

<main>

    <!-- ====== checkout-area-start ============================================= -->
    <div class="checkout-area mt-80 mb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-10  col-lg-10  col-md-12  col-sm-12 col-12">
                    <div class="checkbox-form">
                        <h3 class="cart-title pb-10 mb-20">Thêm mới nội dung khóa học</h3>
                        <form action="#">
                            <div class="row my-2">
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-start mt-3 mt-lg-0">
                                        <a class="btn btn-primary f-500 create-discountCode-btn">
                                            <i class="fas fa-plus mr-2"></i>Thêm chương</a>
                                    </div><!-- /my-btn -->
                                </div><!-- /col -->
                            </div>
                            <div class="row mt-4">
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                    <div class="checkout-form-list mb-3">
                                        <label for="section-title">Tiêu đề chương<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Nhập tiêu đề" class="w-100" id="section-title"
                                               name="section-title">
                                    </div>
                                </div>
                                <div class="col-lg-12 my-4">
                                    <div class="d-flex justify-content-start mt-3 mt-lg-0">
                                        <a class="btn btn-primary f-500 create-discountCode-btn">
                                            <i class="fas fa-plus mr-2"></i>Thêm bài học</a>
                                    </div><!-- /my-btn -->
                                </div><!-- /col -->
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                    <div class="checkout-form-list mb-3">
                                        <label for="lesson-title">Tiêu đề bài học<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Nhập tiêu đề" class="w-100" id="lesson-title"
                                               name="lesson-title">
                                    </div>
                                </div>
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12 order-notes">
                                    <div class="checkout-form-list mb-3">
                                        <label for="description">Nội dung bài học<span class="text-danger">*</span></label>
                                        <textarea id="description" placeholder="Nhập mô tả" name="description"
                                                  class="primary-border2 w-100 pl-15"></textarea>
                                    </div>
                                </div>
                            </div><!-- /row -->
                        </form>
                    </div>
                </div><!-- /col -->
            </div>
            <div class="mt-50">
                <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12 col-12">
                    <div class="checkout-coupon-wrapper mt-5 mt-lg-0">
                        <div class="my-btn mt-3 mt-sm-0">
                            <a href="#" class="btn d-inline-block primary-bg f-500 rounded-0">Tiếp tục</a>
                        </div><!-- /my-btn -->
                    </div><!-- /checkout-coupon-wrapper -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- checkout-area-end -->

</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>