<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Học tập - Larna')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->
<div th:replace="~{fragments/other-page-area :: other_page(pageContent = 'Quản lý lĩnh vực')}"></div>

<main>

    <!-- ====== faq-page-area-start============================================ -->
    <div class="faq-page-area faq-page2 pt-60 mb-100 over-hidden">
        <div class="container">
            <div class="row my-1">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end mt-3 mt-lg-0">
                        <a class="btn btn-primary f-500 create-trainingField-btn">
                            <i class="fas fa-plus mr-2"></i>Tạo lĩnh vực</a>
                    </div><!-- /my-btn -->
                </div><!-- /col -->
            </div>
            <div class="row text-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h5>Danh sách lĩnh vực đào tạo</h5>
                </div><!-- /col -->
            </div><!-- /row -->
            <div class="row text-center mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên lĩnh vực</th>
                            <th class="w-60">Mô tả</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="trainingField : ${trainingFields}">
                            <td th:text="${trainingField.id}"></td>
                            <td th:text="${trainingField.fieldName}"></td>
                            <td th:text="${trainingField.description}" class=" text-left"></td>
                            <td>
                                <button class="btn btn-primary btn-sm update-trainingField-btn"
                                        th:attr="trainingField-id=${trainingField.id}">
                                    <i class="far fa-edit" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger btn-sm delete-trainingField-btn"
                                        th:attr="trainingField-id=${trainingField.id}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- faq-area-end -->
    <!-- faq-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{admin/training-field/training-field-modal :: trainingField-modal}"></div>
<div th:replace="~{admin/training-field/training-field-delete-modal :: trainingField-delete-modal}"></div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>