<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="embedded-js">

    <!-- All js here -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="/js/template-js/popper.min.js"></script>
    <script src="/js/template-js/bootstrap.min.js"></script>
    <script src="/js/template-js/jquery.inputarrow.js"></script>
    <script src="/js/template-js/jquery-ui.js"></script>
<!--    <script src="/js/template-js/jquery.nice-select.min.js"></script>-->
    <script src="/js/template-js/isotope.pkgd.min.js"></script>
    <script src="/js/template-js/image-loaded.min.js"></script>
    <script src="/js/template-js/jquery.fancybox.min.js"></script>
    <script src="/js/template-js/waypoint.js"></script>
    <script src="/js/template-js/counterup-min.js"></script>
    <script src="/js/template-js/slick.min.js"></script>
    <script src="/js/template-js/tilt.jquery.min.js"></script>
    <script src="/js/template-js/countdown.min.js"></script>
    <script src="/js/template-js/aos.js"></script>
    <script src="/js/template-js/plugins.js"></script>
    <script src="/js/template-js/jquery.meanmenu.min.js"></script>
    <script src="/js/template-js/main.js"></script>

    <script src="/js/admin/discountCode.js"></script>
    <script src="/js/admin/trainingField.js"></script>
    <script src="/js/user/reminder.js"></script>
    <script src="/js/user/profile.js"></script>
    <script src="/js/authentication.js"></script>
    <script src="/js/interceptor.js"></script>
    <script src="/js/course.js"></script>
    <script src="/js/header.js"></script>

</th:block>
</body>
</html>