<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ====== footer-area-start ============================================ -->
<footer th:fragment="footer-website">
    <div class="footer-area page-footer primary-bg-image pt-120">
        <div class="footer-top pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4  col-lg-4  col-md-12  col-sm-12 col-12">
                        <div class="footer-widget f-about pb-30 pr-lg-5">
                            <div class="f-logo text-left mb-35">
                                <img src="/images/logo/logo2.png" alt="larna">
                            </div><!-- /f-logo -->
                            <p>Lĩnh vực: Công nghệ, giáo dục, lập trình. Larna xây dựng và phát triển những sản phẩm mang
                                lại giá trị cho cộng đồng. </p>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4 offset-lg-1  col-lg-4  col-md-7  col-sm-7 col-12">
                        <div class="footer-widget f-info pb-30 pr-20 mt-15">
                            <h6 class="text-uppercase f-500 mb-30">Các liên kết quan trọng</h6>
                            <div class="d-flex">
                                <ul>
                                    <li>
                                        <a th:href="@{/courses}" class="position-relative d-inline-block mb-2">
                                            Khóa học</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/instructors}"
                                           class="position-relative d-inline-block mb-2">Giảng viên</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/myLearning}"
                                           class="position-relative d-inline-block mb-2">Chứng chỉ</a>
                                    </li>
                                </ul>
                                <ul class="pl-65">
                                    <li>
                                        <a th:href="@{/about}" class="position-relative d-inline-block mb-2">Giới
                                            thiệu</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/faq}" class="position-relative d-inline-block mb-2">Quy định</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/contact}"
                                           class="position-relative d-inline-block mb-2">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-3  col-lg-3  col-md-5  col-sm-5 col-12 pr-xl-0">
                        <div class="footer-widget f-adress mt-15">
                            <h6 class="text-uppercase f-500 mb-30">Kết nối với chúng tôi</h6>
                            <ul class="social-link mt-15">
                                <li class="d-inline-block">
                                    <a class="pr-15 d-inline-block transition-3" href="#"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="d-inline-block">
                                    <a class="pr-15 d-inline-block transition-3" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="d-inline-block">
                                    <a class="pr-15 d-inline-block transition-3" href="#">
                                        <i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li class="d-inline-block">
                                    <a class="d-inline-block transition-3" href="#"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul><!-- social-link -->
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
        <div class="footer-bottom footer-top-border1">
            <div class="container">
                <div class="copyright-area mt-20 pb-20">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-6  col-lg-5  col-md-12  col-sm-12 col-12">
                            <div class="copyright-text text-center text-lg-left mt-20 mb-20">
                                <p class="mb-0">
                                    <a href="https://themeforest.net/user/ethemestudio/portfolio"
                                       class="c-theme text-white f-500">eThemeStudio</a> © 2023
                                </p>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-6  col-lg-7  col-md-12  col-sm-12 col-12">
                            <ul class="useful-link text-center text-lg-right mt-20">
                                <li class="d-inline-block mb-20">
                                    <a href="#" class="secondary-color d-inline-block">Điều khoản</a>
                                </li>
                                <li class="d-inline-block pl-45 mb-20">
                                    <a href="#" class="secondary-color d-inline-block">Quyền riêng tư</a>
                                </li>
                                <li class="d-inline-block pl-45 mb-20">
                                    <a href="#" class="secondary-color d-inline-block">Cài đặt cookie</a>
                                </li>
                            </ul><!-- social -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /copyright-area -->
            </div><!-- /container -->
        </div>
    </div>
</footer>

</body>
</html>