<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header-teacher">
    <div id="header-sticky" class="transparent-header header-area home2 home4 white-color-header">
        <div class="header">
            <div class="container-wrapper">
                <div class="row align-items-center justify-content-between position-relative">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 col-6">
                        <div class="logo">
                            <a href="index.html" class="d-block"><img src="/images/logo/logo.png" alt="Larna"></a>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-9 col-lg-8 col-md-3 col-sm-3 col-2 pl-lg-4 d-none d-lg-flex position-static">
                        <div class="main-menu">
                            <ul class="d-block">
                                <li><a class="mega-title" th:href="@{/api/v1/courses/analysis/teacher}">Dashboard</a>
                                </li><!-- /Dashboard -->

                                <li><a th:href="@{/api/v1/courses/teacher}">Khóa học</a>
                                </li><!-- /Course -->
                            </ul>
                        </div><!-- /main-menu -->
                    </div><!-- /col -->
                    <div class="col-xl-1 col-lg-2 col-md-6 col-sm-4 col-4 pl-lg-0">
                        <div class="header-right d-flex align-items-center justify-content-end">
                            <div class="testi-avatar pr-15 rounded-circle">
                                <a class="d-block" href="#">
                                    <img src="/images/avatar/avatar3.jpg" alt="avatar"
                                         class="rounded-circle">
                                </a>
                            </div>
                            <div class="d-block d-sm-none pl-20">
                                <a class="mobile-menubar theme-color" href="javascript:void(0);"><i
                                        class="far fa-bars"></i></a>
                            </div><!-- /mobile-menubar -->
                        </div><!-- /header-right -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div><!-- /header-bottom -->
</header>

</body>
</html>