<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <div id="header-sticky" class="transparent-header header-area home2 home4 white-color-header">
        <div class="header">
            <div class="container-wrapper">
                <div class="row align-items-center justify-content-between position-relative">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
                        <div class="logo">
                            <a href="index.html" class="d-block"><img src="/images/logo/logo.png" alt="Larna"></a>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-7 col-lg-6 col-md-3 col-sm-3 col-2 pl-lg-4 d-none d-lg-flex position-static">
                        <div class="main-menu">
                            <nav id="header-menu">

                            </nav>
                        </div><!-- /main-menu -->
                    </div><!-- /col -->
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5 col-5 pl-lg-0">
                        <div class="header-right d-flex align-items-center justify-content-end" id="subHeader">

                        </div><!-- /header-right -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div><!-- /header-bottom -->
</header>


</body>
</html>