<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - My Learning')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->

            <div class="container">
                <div class="row">

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150"><span class="f-700">Quá trình </span>học tập</h1>
                        </div>
                    </div><!-- /col -->

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== faq-page-area-start============================================ -->
    <div class="faq-page-area faq-page2 pt-100 mb-115 over-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="faq2-wrapper pl-xl-4 pl-lg-3">
                        <div class="nav faq-nav justify-content-center" id="faq-tabs" role="tablist"
                             aria-orientation="vertical">
                            <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1"
                               aria-selected="true">Tất cả khóa học</a>

                            <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2"
                               aria-selected="false">Mong muốn</a>

                            <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3"
                               aria-selected="false">Đã lưu trữ</a>

                            <a href="#tab4" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab4"
                               aria-selected="false">Nhắc nhở học tập</a>

                        </div>

                        <div class="tab-content mt-55" id="faq-tab-content">
                            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                                        <h5 class="mb-20">Danh sách tất cả khóa học của tôi</h5>


                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                                        <h5 class="mb-20">Danh sách các khóa học mong muốn</h5>


                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                                        <h5 class="mb-20">Các khóa học đã hoàn thành</h5>


                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                                        <h5 class="mb-20">Nhắc nhở học tập</h5>
                                        <p>Học một chút mỗi ngày sẽ giúp bạn tích lũy kiến thức. Nghiên cứu cho thấy
                                            rằng những học viên biến việc học thành thói quen sẽ có nhiều khả năng đạt
                                            được mục tiêu hơn. Hãy dành thời gian để học và nhận lời nhắc bằng cách sử
                                            dụng trình lên lịch học tập.</p>
                                    </div><!-- /col -->
                                    <div class="col-xl-8  col-lg-6  col-md-6  col-sm-12 col-12">
                                        <div class="shoping-con-area">
                                            <form action="#">
                                                <div class="my-btn">
                                                    <a class="btn d-inline-block primary-bg rounded-0 mt-15 create-reminder-btn">
                                                        Lên lịch thời gian học</a>
                                                </div><!-- /my-btn -->
                                            </form>
                                        </div>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                                <div class="row my-3" th:each="studyReminder : ${studyReminders}">
                                    <div class="card w-50">
                                        <div class="row">
                                            <div class="col">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="col">
                                                <div class="card-body">
                                                    <h5 class="card-title">Nhắc nhở học tập</h5>
                                                    <h6 class="card-subtitle mb-2"
                                                        th:text="${studyReminder.eventName}"></h6>
                                                    <p class="card-text" th:text="${studyReminder.frequency}"></p>
                                                    <p class="card-text">vào</p>
                                                    <p class="card-text" th:text="${studyReminder.time}"></p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <button class="dropdown-toggle" data-toggle="dropdown" id="show-more-reminder">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="btn btn-primary dropdown-item update-studyReminder-btn"
                                                       th:attr="studyReminder-id=${studyReminder.id}">Cập nhật</a>
                                                    <a class="btn btn-danger dropdown-item delete-studyReminder-btn"
                                                       th:attr="studyReminder-id=${studyReminder.id}">Xóa</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /faq-wrapper -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- faq-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{myLearning/reminder-modal :: reminder-modal}"></div>
<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>