<!-- Modal -->
<div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog"
     aria-hidden="true" th:fragment="reminder-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo một sự kiện</h5>
                <button type="button" class="close close-modal" aria-label="Close">
                    <span aria-hidden="true" data-dismiss="modal">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reminder-form">
                    <div class="form-group">
                        <label for="eventName">Tên</label>
                        <input type="text" class="form-control" id="eventName" placeholder="Nhập tên mã" name="eventName">
                    </div>
                    <div class="form-group">
                        <label for="courseID">Khóa học<span class="text-danger">*</span></label>
                        <select class="form-control" id="courseID" name="courseID">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="frequency">Tần suất<span class="text-danger">*</span></label>
                        <select class="form-control" id="frequency" name="frequency">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="time">Thời gian<span class="text-danger">*</span></label>
                        <div class="ud-text-input-container">
                            <input type="time" aria-invalid="false" class="form-control" id="time" value="12:00" name="time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Ngày bắt đầu<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="startDate" placeholder="Nhập ngày bắt đầu"
                               name="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">Ngày kết thúc<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="endDate"
                               placeholder="Nhập ngày kết thúc" name="endDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-reminder-btn">Lưu</button>
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>