<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - About Us')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height  primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->

            <div class="container">
                <div class="row">

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150">Về <span class="f-700">chúng tôi</span></h1>
                        </div>
                    </div><!-- /col -->

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== about-area-start=========================================== -->
    <div class="about-page-area position-relative over-hidden mt-165 pb-120">
        <div class="container">
            <div class="d-flex flex-column-reverse flex-sm-column ">
                <div class="row align-items-end about-page-image-wrapper mb-60">
                    <div class="col-xl-3  col-lg-3  col-md-3  col-sm-3 col-12">
                        <div class="about-page-img1 ml-20">
                            <img class="w-100" src="/images/about-page/about-page5.jpg" alt="about us">
                        </div>
                    </div><!-- /col -->

                    <div class="col-xl-5  col-lg-5  col-md-5  col-sm-5 col-12">
                        <div class="about-page-img2 mb-95">
                            <img class="w-100" src="/images/about-page/about-page8.jpg" alt="about us">
                        </div>
                    </div><!-- /col -->

                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-4 col-12">
                        <div class="about-page-img3 mb-25">
                            <img class="w-100" src="/images/about-page/about-page10.png" alt="about us">
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->

                <div class="row about-page-content-wrapper mb-165">

                    <div class="col-xl-4 col-lg-4  col-md-12  col-sm-12 col-12">
                        <div class="title">
                            <h2 class="mb-30">Chúng tôi chia sẻ kiến thức với thế giới</h2>
                        </div><!-- /title -->
                    </div><!-- /col -->

                    <div class="col-xl-8 col-lg-8  col-md-12  col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="about-page-content">
                                    <p class="pb-10">Cho dù bạn muốn tìm hiểu hay chia sẻ những gì bạn biết, bạn đều đã
                                        đến đúng nơi. Là một điểm đến toàn cầu cho việc học trực tuyến, chúng tôi trao
                                        quyền cho các tổ chức và cá nhân phát triển kỹ năng linh hoạt và hiệu quả.</p>
                                </div><!-- /about-content -->
                            </div><!-- /col -->

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="about-page-content">
                                    <p>Chúng tôi đang nỗ lực tạo ra các khóa học có nội dung chất lượng vượt trội, giúp
                                        học viên sau khi hoàn thành khóa học có thể trở thành những kỹ sư/ lập trình
                                        viên luôn được nhiều công ty săn đón.</p>
                                </div><!-- /about-content -->
                            </div><!-- /col -->

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="about-signature mt-15">
                                    <img class="pr-45" src="/images/about/signature.png" alt="Jane Doe">
                                    <p class="signature f-500 text-uppercase main-color d-inline-block mb-0 mr-20">Mai
                                        Quyên</p><!-- /signature -->
                                    <p class="signature-info d-inline-block mb-0">Sáng lập & điều hành</p>
                                    <!-- /signature -->
                                </div><!-- /signature -->
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /col -->
                </div><!-- /row -->

            </div>
            <div class="primary-border-bottom"></div>

            <div class="row about-page-about-intro pt-160 justify-content-center">
                <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                    <div class="about-page-single-intro-content transition5 mb-40">
                        <div class="about-page-intro-service-text">
                            <h5 class="mb-32">Sứ mệnh</h5>
                            <p>Chúng tôi mong muốn phát triển kỹ năng và kiến thức cho mọi người trên toàn thế giới,
                                đồng thời duy trì cam
                                kết với sự tiến bộ và sáng tạo trong giáo dục.</p>
                        </div>
                    </div><!-- /single-service-content -->
                </div><!-- /col -->

                <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                    <div class="about-page-single-intro-content transition5 mb-40">
                        <div class="about-page-intro-service-text">
                            <h5 class="mb-32">Tầm nhìn</h5>
                            <p>Trở thành công ty công nghệ giáo dục có vị thế vững vàng trên thị trường, với các sản
                                phẩm hỗ trợ học lập trình chất lượng, thông minh và hiệu quả.</p>
                        </div>
                    </div><!-- /single-service-content -->
                </div><!-- /col -->

                <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                    <div class="about-page-single-intro-content transition5 mb-40">
                        <div class="about-page-intro-service-text">
                            <h5 class="mb-32">Giá trị cốt lõi</h5>
                            <p>Sản phẩm làm ra với mục tiêu cao nhất là người học thấy dễ học, được truyền cảm hứng tự
                                học, học tới
                                bài học cuối cùng và người học có thể tự tay làm ra những dự án bằng kiến thức đã
                                học.</p>
                        </div>
                    </div><!-- /single-service-content -->
                </div><!-- /col -->
            </div><!-- /row -->

        </div><!-- /container -->
    </div>
    <!-- about-area -end -->


    <!-- ====== facts-area-start=========================================== -->
    <div class="facts-area about-page-fact position-relative over-hidden">
        <div class="about-page-fact-bg position-absolute w-100 h-100 z-index-1 "></div>
        <div class="container about-page-fact-wrapper pt-160 pb-120">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
                    <div class="title text-center mb-50">
                        <h2 class="mb-30">Chúng tôi không ngừng <span class="f-700"> phát triển </span>
                        </h2>
                        <p class="pb-30">Cộng đồng toàn cầu và danh mục khóa học của chúng tôi ngày càng lớn mạnh. Hãy
                            xem những con số mới nhất của chúng tôi tính đến tháng 12 năm 2023.</p>
                    </div><!-- /title -->
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="row justify-content-center">
                <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 justify-content-center">
                    <div class="home3-single-fact text-center mb-40 tilt">
                        <div class="fact-icon mb-25">
                            <img src="/images/icon/hm1-fact-icon1.png" alt="">
                        </div><!-- /fact-icon -->
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="main-color f-500 d-inline-block counter">100</span>
                            <span class="per main-color d-inline-block f-700">+</span>
                        </div>
                        <p class="text-center mb-0">Khóa học trực tuyến</p>
                    </div> <!-- /single-fact -->
                </div><!-- /col -->

                <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 ">
                    <div class="home3-single-fact text-center tilt">
                        <div class="fact-icon mb-25">
                            <img src="/images/icon/hm1-fact-icon3.png" alt="">
                        </div><!-- /fact-icon -->
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="main-color f-500 d-inline-block counter">5000</span>
                            <span class="per main-color d-inline-block f-700">+</span>
                        </div>
                        <p class="text-center mb-0">Sinh viên đăng ký</p>
                    </div> <!-- /single-fact -->
                </div><!-- /col -->

                <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                    <div class="home3-single-fact text-center tilt">
                        <div class="fact-icon mb-25">
                            <img src="/images/icon/hm1-fact-icon1.png" alt="">
                        </div><!-- /fact-icon -->
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="main-color f-500 d-inline-block counter">30</span>
                            <span class="per main-color d-inline-block f-700">+</span>
                        </div>
                        <p class="text-center mb-0">Giảng viên chuyên nghiệp</p>
                    </div> <!-- /single-fact -->
                </div><!-- /col -->

                <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 ">
                    <div class="home3-single-fact text-center tilt">
                        <div class="fact-icon mb-25">
                            <img src="/images/icon/hm1-fact-icon4.png" alt="">
                        </div><!-- /fact-icon -->
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="main-color f-500 d-inline-block counter">1000</span>
                            <span class="per main-color d-inline-block f-700">+</span>
                        </div>
                        <p class="text-center mb-0">Giờ học</p>
                    </div> <!-- /single-fact -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- facts-area -end -->


    <!-- ====== instructor-area-start=============================================== -->
    <div class="about-page-instructor-area over-hidden pt-160 mb-165">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12">
                    <div class="title text-center">
                        <h2 class="mb-30">Giảng viên <span class="f-700">tiêu biểu</span></h2>
                        <p>Giảng viên của Larna là những người thực sự đam mê chia sẻ những gì họ biết với sinh viên
                            trên toàn thế giới.</p>
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="row about-page-instructor-wrappwer mt-65">
                <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1  col-sm-5 offset-sm-1 col-12">
                    <div class="single-instructor-wrapper position-relative">
                        <div class="single-instructor over-hidden d-md-flex align-items-end mb-60">
                            <div class="instructor-img position-relative">
                                <img class="w-100" src="/images/instructor/instructor1.jpeg"
                                     alt="instructor-image01">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                            <div class="instructor-content instructor-content-left position-absolute">
                                <h6 class="mb-1"><span class="f-700">Bruce</span> Wayne</h6>
                                <p class="mb-15">Lập trình viên</p>
                            </div>
                        </div><!-- /single-instructor -->
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1  col-sm-5 offset-sm-1 col-12">
                    <div class="single-instructor-wrapper position-relative">
                        <div class="single-instructor over-hidden d-md-flex align-items-end mb-60">
                            <div class="instructor-img position-relative">
                                <img class="w-100" src="/images/instructor/instructor2.jpeg"
                                     alt="instructor-image02">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                            <div class="instructor-content instructor-content-left position-absolute">
                                <h6 class="mb-1"><span class="f-700">Peter</span> Parker</h6>
                                <p class="mb-15">Kỹ sư bảo mật</p>
                            </div>
                        </div><!-- /single-instructor -->
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1  col-sm-5 offset-sm-1 col-12">
                    <div class="single-instructor-wrapper position-relative">
                        <div class="single-instructor over-hidden d-md-flex align-items-end mb-60">
                            <div class="instructor-img position-relative">
                                <img class="w-100" src="/images/instructor/instructor9.png"
                                     alt="instructor-image03">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                            <div class="instructor-content instructor-content-left position-absolute">
                                <h6 class="mb-1"><span class="f-700">Peter</span> Parker</h6>
                                <p class="mb-15">Lập trình viên</p>
                            </div>
                        </div><!-- /single-instructor -->
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1  col-sm-5 offset-sm-1 col-12">
                    <div class="single-instructor-wrapper position-relative">
                        <div class="single-instructor over-hidden d-md-flex align-items-end mb-60">
                            <div class="instructor-img position-relative">
                                <img class="w-100" src="/images/instructor/instructor4.jpeg"
                                     alt="instructor-image04">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                            <div class="instructor-content instructor-content-left position-absolute">
                                <h6 class="mb-1"><span class="f-700">Diana</span> Prince</h6>
                                <p class="mb-15">Kỹ sư bảo mật</p>
                            </div>
                        </div><!-- /single-instructor -->
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1  col-sm-5 offset-sm-1 col-12">
                    <div class="single-instructor-wrapper position-relative">
                        <div class="single-instructor over-hidden d-md-flex align-items-end mb-60">
                            <div class="instructor-img position-relative">
                                <img class="w-100" src="/images/instructor/instructor10.jpg"
                                     alt="instructor-image06">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                            <div class="instructor-content instructor-content-left position-absolute">
                                <h6 class="mb-1"><span class="f-700">Clark</span> Kent</h6>
                                <p class="mb-15">Lập trình viên</p>
                            </div>
                        </div><!-- /single-instructor -->
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->

                <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1  col-sm-5 offset-sm-1 col-12">
                    <div class="single-instructor-wrapper position-relative">
                        <div class="single-instructor over-hidden d-md-flex align-items-end mb-60">
                            <div class="instructor-img position-relative">
                                <img class="w-100" src="/images/instructor/instructor11.jpg"
                                     alt="instructor-image05">
                                <ul class="social-link text-center position-absolute">
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-center pl-10 pr-10 d-inline-block transition-3" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul><!-- social-link -->
                            </div><!-- /instructor-img -->
                            <div class="instructor-content instructor-content-left position-absolute">
                                <h6 class="mb-1"><span class="f-700">Tony</span> Stark</h6>
                                <p class="mb-15">Lập trình viên</p>
                            </div>
                        </div><!-- /single-instructor -->
                    </div><!-- /single-instructor-wrapper -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- instructor-area-end  -->


    <!-- ====== testimonial-area-start=========================================== -->
    <div class="testimonial-area about-page-testimonial home3 position-relative">
        <div class="testimonial-bg position-absolute bg-no-repeat bg-cover h-100"
             data-background="/images/about-page/about-page8.jpg"></div><!-- /testimonial bg -->
        <div class="container">
            <div class="row justify-content-lg-end home3-testimonial-padding pt-110">
                <div class="col-xl-6  col-lg-7 col-md-10 col-sm-12 col-12 pl-lg-0">
                    <div class="title text-center text-md-left text-lg-right">
                        <h2 class="mb-30">Mọi người <span class="f-700">nói</span> gì?</h2>
                        <p>Người tài có ở khắp nơi nên cơ hội có thể khó tìm hơn. Với Larna, bạn có thể đạt được mục
                            tiêu sự nghiệp của mình.</p>
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="testimonial-wrapper testimonial-wrapper3 pt-35 pb-95">
                <div class="row testimonial-active3-variable-width">
                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="single-testimonial bg-white text-center pt-60 pb-60 pl-50 pr-50 mb-20 transition5">
                            <div class="quit d-inline-block mb-22">
                                <img src="/images/testimonial/quote-icon.png" alt="icon">
                            </div><!-- /quit -->

                            <h3 class="mb-12">Giáo dục chất lượng cao</h3>
                            <p>Các bài học đi đôi với thực hành, làm bài kiểm tra ngay trên trang web và bạn luôn có sản
                                phẩm thực tế sau mỗi khóa học.</p>

                            <ul class="review-ratting mt-25">
                                <li>
                                    <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span>
                                </li>
                            </ul><!-- /review-ratting -->

                            <div class="testi-info mt-30 d-flex align-items-center justify-content-center">
                                <div class="d-flex">
                                    <div class="testi-avatar pr-20 rounded-circle">
                                        <img class="rounded-circle" src="/images/avatar/avatar1.jpg"
                                             alt="image">
                                    </div><!-- /testi-avatar -->
                                    <div class="avatar-info text-left">
                                        <h6 class="f-500 text-uppercase mb-0">Thomas Anderson</h6>
                                        <p class="mb-0">Lập trình viên fullstack</p>
                                    </div>
                                </div><!-- /testi-info -->
                            </div>
                        </div><!-- /single-testimonial -->
                    </div><!-- /col -->

                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="single-testimonial bg-white text-center pt-60 pb-60 pl-50 pr-50 mb-20 transition5">
                            <div class="quit d-inline-block mb-22">
                                <img src="/images/testimonial/quote-icon.png" alt="icon">
                            </div><!-- /quit -->

                            <h3 class="mb-12">Dịch vụ rất hữu ích</h3>
                            <p>Thay vì chật vật vài năm thì tôi chỉ cần 4-6 tháng để có thể bắt đầu công việc đầu tiên
                                với vị trí Intern tại công ty công nghệ.</p>

                            <ul class="review-ratting mt-25">
                                <li>
                                    <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span>
                                </li>
                            </ul><!-- /review-ratting -->

                            <div class="testi-info mt-30 d-flex align-items-center justify-content-center">
                                <div class="d-flex">
                                    <div class="testi-avatar pr-20 rounded-circle">
                                        <img class="rounded-circle" src="/images/avatar/avatar2.jpg"
                                             alt="image">
                                    </div><!-- /testi-avatar -->
                                    <div class="avatar-info text-left">
                                        <h6 class="f-500 text-uppercase mb-0">Thomas Anderson</h6>
                                        <p class="mb-0">Lập trình viên backend</p>
                                    </div>
                                </div><!-- /testi-info -->
                            </div>
                        </div><!-- /single-testimonial -->
                    </div><!-- /col -->

                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="single-testimonial bg-white text-center pt-60 pb-60 pl-50 pr-50 mb-20 transition5">
                            <div class="quit d-inline-block mb-22">
                                <img src="/images/testimonial/quote-icon.png" alt="icon">
                            </div><!-- /quit -->

                            <h3 class="mb-12">Giáo dục chất lượng cao</h3>
                            <p>Trung tâm đã giúp tôi tập trung chỉ học và làm những điều quan trọng để đạt được mục
                                tiêu đi làm trong thời gian ngắn nhất, tôi đã làm được, bạn cũng có thể làm được.</p>

                            <ul class="review-ratting mt-25">
                                <li>
                                    <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span>
                                </li>
                            </ul><!-- /review-ratting -->

                            <div class="testi-info mt-30 d-flex align-items-center justify-content-center">
                                <div class="d-flex">
                                    <div class="testi-avatar pr-20 rounded-circle">
                                        <img class="rounded-circle" src="/images/avatar/avatar3.jpg"
                                             alt="image">
                                    </div><!-- /testi-avatar -->
                                    <div class="avatar-info text-left">
                                        <h6 class="f-500 text-uppercase mb-0">Thomas Anderson</h6>
                                        <p class="mb-0">Kỹ sư bảo mật</p>
                                    </div>
                                </div><!-- /testi-info -->
                            </div>
                        </div><!-- /single-testimonial -->
                    </div><!-- /col -->

                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="single-testimonial bg-white text-center pt-60 pb-60 pl-50 pr-50 mb-20 transition5">
                            <div class="quit d-inline-block mb-22">
                                <img src="/images/testimonial/quote-icon.png" alt="icon">
                            </div><!-- /quit -->

                            <h3 class="mb-12">Tạo cảm hứng tự học</h3>
                            <p>Một con người chỉ thực sự trưởng thành trong sự nghiệp nếu họ biết cách tự
                                thu nạp kiến thức mới cho chính mình. Tôi đã được hướng dẫn để làm điều này.</p>

                            <ul class="review-ratting mt-25">
                                <li>
                                    <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span>
                                </li>
                            </ul><!-- /review-ratting -->

                            <div class="testi-info mt-30 d-flex align-items-center justify-content-center">
                                <div class="d-flex">
                                    <div class="testi-avatar pr-20 rounded-circle">
                                        <img class="rounded-circle" src="/images/avatar/avatar4.jpg"
                                             alt="image">
                                    </div><!-- /testi-avatar -->
                                    <div class="avatar-info text-left">
                                        <h6 class="f-500 text-uppercase mb-0">Thomas Anderson</h6>
                                        <p class="mb-0">Kỹ sư an toàn thông tin</p>
                                    </div>
                                </div><!-- /testi-info -->
                            </div>
                        </div><!-- /single-testimonial -->
                    </div><!-- /col -->

                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="single-testimonial bg-white text-center pt-60 pb-60 pl-50 pr-50 mb-20 transition5">
                            <div class="quit d-inline-block mb-22">
                                <img src="/images/testimonial/quote-icon.png" alt="icon">
                            </div><!-- /quit -->

                            <h3 class="mb-12">Định hướng nghề nghiệp</h3>
                            <p>Tôi đã được trung tâm giúp định hướng công việc phù hợp, biết cách đặt cho mình một
                                mục tiêu rõ ràng và cung cấp đầy đủ kĩ năng cần thiết để phát triển sự nghiệp.</p>
                            <ul class="review-ratting mt-25">
                                <li>
                                    <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span>
                                </li>
                            </ul><!-- /review-ratting -->

                            <div class="testi-info mt-30 d-flex align-items-center justify-content-center">
                                <div class="d-flex">
                                    <div class="testi-avatar pr-20 rounded-circle">
                                        <img class="rounded-circle" src="/images/avatar/avatar5.jpg"
                                             alt="image">
                                    </div><!-- /testi-avatar -->
                                    <div class="avatar-info text-left">
                                        <h6 class="f-500 text-uppercase mb-0">Thomas Anderson</h6>
                                        <p class="mb-0">Lập trình viên web</p>
                                    </div>
                                </div><!-- /testi-info -->
                            </div>
                        </div><!-- /single-testimonial -->
                    </div><!-- /col -->

                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="single-testimonial bg-white text-center pt-60 pb-60 pl-50 pr-50 mb-20 transition5">
                            <div class="quit d-inline-block mb-22">
                                <img src="/images/testimonial/quote-icon.png" alt="icon">
                            </div><!-- /quit -->

                            <h3 class="mb-12">Môi trường học tập vui vẻ</h3>
                            <p>Môi trường làm việc lành mạnh. Không toxic, không gossip, trong công việc thử thách hết
                                mình nhưng ngoài công việc không bè phái ganh đua hay tấn công gì nhau.</p>

                            <ul class="review-ratting mt-25">
                                <li>
                                    <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                        class="fa fa-star"></i></span>
                                </li>
                            </ul><!-- /review-ratting -->

                            <div class="testi-info mt-30 d-flex align-items-center justify-content-center">
                                <div class="d-flex">
                                    <div class="testi-avatar pr-20 rounded-circle">
                                        <img class="rounded-circle" src="/images/avatar/avatar6.jpg"
                                             alt="image">
                                    </div><!-- /testi-avatar -->
                                    <div class="avatar-info text-left">
                                        <h6 class="f-500 text-uppercase mb-0">Thomas Anderson</h6>
                                        <p class="mb-0">Kỹ sư bảo mật</p>
                                    </div>
                                </div><!-- /testi-info -->
                            </div>
                        </div><!-- /single-testimonial -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /testimonial-wrapper -->
        </div><!-- /container -->
    </div>
    <!-- testimonial-area -end -->


    <!-- ====== brand-area-start=============================================== -->
    <div class="brand-area about-page-brand pt-125 pb-95 over-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-4 text-center">
                            <div class="single-brand mb-30 d-block text-center">
                                <img class="d-inline-block" src="/images/brand/brand-logo1.jpg" alt="image">
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-4 text-center">
                            <div class="single-brand mb-30 d-block text-center">
                                <img class="d-inline-block" src="/images/brand/brand-logo2.png" alt="image">
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-4 text-center">
                            <div class="single-brand mb-30 d-block text-center">
                                <img class="d-inline-block" src="/images/brand/brand-logo3.png" alt="image">
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-4 text-center">
                            <div class="single-brand mb-30 d-block text-center">
                                <img class="d-inline-block" src="/images/brand/brand-logo4.png" alt="image">
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-4 text-center">
                            <div class="single-brand mb-30 d-block text-center">
                                <img class="d-inline-block" src="/images/brand/brand-logo5.png" alt="image">
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-4 text-center">
                            <div class="single-brand mb-30 d-block text-center">
                                <img class="d-inline-block" src="/images/brand/brand-logo7.jpg" alt="image">
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- brand-area-end  -->

</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>