<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - Error')}"></head>

<body>

<div id="header-sticky" class="transparent-header header-area home2 home4 white-color-header">
    <div class="header">
        <div class="container-wrapper">
            <div class="row align-items-center justify-content-between position-relative">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 my-3">
                    <div class="logo">
                        <a class="d-block"><img src="/images/logo/logo.png" alt="Larna"></a>
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
</div><!-- /header-bottom -->
<!--  header-area-end  -->


<main>

    <!-- ====== error-area-start
    ======================================================================= -->
    <div class="error-area mt-100 mb-105">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-10 col-12 text-center">
                    <h6 class="mt-20 mb-20">Bạn đã kích hoạt tài khoản thành công !</h6>
                    <div class="logo">
                        <a href="#" class="d-block"><img class="w-50" src="/images/about-page/about-page2.jpg" alt="about-page"></a>
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /error-area -->
    <!-- error-area-end -->


</main>


<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>