<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Online Courses - FAQ')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header :: header}"></header>
<!--  header-area-end  -->


<main>
    <!-- ======other-page-area-start=========================================== -->
    <div class="other-page-area">
        <div class="page-height primary-overlay d-flex align-items-center position-relative">
            <div class="other-page-bg position-absolute w-100 h-100 bg-no-repeat bg-cover z-index-1"
                 data-background="/images/about-page/about-page1.jpg"></div><!-- home2 slider bg -->
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="page-content text-center mt-110">
                            <h1 class="text-white mb-15 text-capitalize" data-aos="fade-up" data-aos-duration="2000"
                                data-aos-delay="150">
                                <span class="f-700">Quy định</span>
                            </h1>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </div>
    <!-- slider-area-end  -->


    <!-- ====== faq-page-area-start============================================ -->
    <div class="faq-page-area pt-165 mb-115 over-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="faq-page-content mb-60">
                        <div class="nav nav-pills flex-column faq-nav primary-border2" id="faq-tabs" role="tablist"
                             aria-orientation="vertical">
                            <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1"
                               aria-selected="true">Tuyển sinh</a>

                            <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2"
                               aria-selected="false">Khóa học</a>

                            <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3"
                               aria-selected="false">Cam kết việc làm</a>

                            <a href="#tab4" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab4"
                               aria-selected="false">Sinh viên bảo lưu</a>

                            <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5"
                               aria-selected="false">Ưu đãi và hoàn trả học phí</a>

                        </div>
                    </div><!-- /faq-content -->
                </div><!-- /col -->
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="faq-wrapper mt--5 pl-xl-4 pl-lg-3">
                        <div class="tab-content" id="faq-tab-content">
                            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                <div class="faq-page-wrapper">
                                    <div class="faq-text mb-45">
                                        <h3 class="mb-20">Đăng kí khóa học</h3>
                                        <p>Học viên đăng kí học cần đóng cọc học phí 500.000đ đối với khoá học ngắn hạn,
                                            và 10% học phí đối với khoá Lộ trình dài hạn.</p>
                                        <p>Học viên hoàn thành học phí trước khi lớp học khai giảng (cũng là buổi học
                                            đầu tiên).</p>
                                    </div><!-- /faq-text -->

                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                <div class="faq-page-wrapper">
                                    <div class="faq-text mb-45">
                                        <h3 class="mb-20">Kỷ luật lớp học</h3>
                                        <p>- Nếu nghỉ học, hoặc đi muộn cần email, nhắn tin, gọi điện xin phép giảng
                                            viên.</p>
                                        <p>- Nghỉ quá 3 buổi hoặc không làm bài tập quá 3 buổi (với lớp lộ trình dài hạn
                                            là 8% tổng số buổi), không theo kịp tiến độ học của lớp, sẽ phải học lại với
                                            lớp sau và phải đóng thêm phí học lại (tùy vào số buổi học lại).</p>
                                        <p>- Đối với lớp lộ trình dài hạn, sẽ có các buổi thực hành tập trung bắt buộc
                                            học
                                            viên phải tham gia, nếu không tham gia đầy đủ sẽ không được bảo vệ đồ án tốt
                                            nghiệp. Trường hợp học viên có việc bận đột xuất sẽ phải thực hành bù vào
                                            buổi khác và phải đóng thêm lệ phí tùy thuộc vào số lượng học viên thực hành
                                            bù.</p>
                                        <p>- Trong trường hợp do dịch bệnh, thực hiện giãn cách, trung tâm không được
                                            phép
                                            mở lớp học trực tiếp thì sẽ chuyển qua hình thức học trực tuyến tạm thời cho
                                            đến lúc được phép mở lại. Lúc này, học viên có thể lựa chọn: đồng ý tiếp tục
                                            học trực tuyến (chương trình và thời lượng trung tâm vẫn đảm bảo đủ như lớp
                                            học trực tiếp), hoặc học viên có thể bảo lưu khóa học, chờ lớp học sau.</p>
                                    </div><!-- /faq-text -->
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                                <div class="faq-page-wrapper">
                                    <div class="faq-text mb-45">
                                        <h3 class="mb-20">Điều kiện cam kết việc làm với lớp lộ trình dài hạn (từ 3
                                            tháng trở lên):</h3>
                                        <p>- Đi học đầy đủ, không nghỉ quá 8% tổng số buổi học</p>
                                        <p>- Hoàn thành 80% bài tập về nhà</p>
                                        <p>- Bảo vệ đồ án từng môn học của lộ trình điểm trung bình 7/10</p>
                                        <p>- Bảo vệ thành công đồ án cuối khóa đạt từ điểm 7/10</p>
                                        <p>- Hoàn thành số lượng bài tập Leetcode tương đương với thời gian của mỗi khóa
                                            học (mỗi tháng 10 bài)</p>
                                        <p>- Tham gia ít nhất 2 buổi kiến tập cho sinh viên tại các doanh nghiệp</p>
                                    </div><!-- /faq-text -->
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                                <div class="faq-page-wrapper">
                                    <div class="faq-text mb-45">
                                        <h3 class="mb-20">Bảo lưu</h3>
                                        <p>- Học viên có việc cá nhân, việc gia đình xin nghỉ học thì có thể bảo lưu trong
                                            vòng từ 3 tháng (đối với lớp ngắn hạn) đến 6 tháng (đối với lớp lộ trình dài
                                            hạn), học viên thực hiện thao tác ngay trên giao diện lớp học. Học viên phải
                                            đóng ngay thời điểm bảo lưu 500,000 VNĐ hoặc đóng sau khi quay lại học
                                            700,000 VNĐ phí quản lý lớp để bộ phận tuyển sinh xử lý các trường hợp bảo
                                            lưu.</p>
                                        <p>- Khi bảo lưu sang khoá sau, nếu chương trình học có cập nhật giáo trình/ tăng số buổi học, học viên sẽ đóng học phí bổ sung theo quy định của khoá học mới và các chi phí phát sinh (nếu có)</p>
                                        <p>- Học viên bảo lưu việc học tại thời điểm nào trong khoá sẽ học tiếp từ thời điểm đó. Học viên học lại bao nhiêu buổi, cần đóng học phí số buổi học lại theo giá học phí khoá mới.</p>
                                        <p>- Trung tâm chỉ xử lý bảo lưu 1 lần duy nhất.</p>
                                    </div><!-- /faq-text -->
                                </div>
                            </div>
                            <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                                <div class="faq-page-wrapper">
                                    <div class="faq-text mb-45">
                                        <h3 class="mb-20">Ưu đãi học phí</h3>
                                        <p><span class="f-700">Lớp học offline: </span></p>
                                        <p>- Học viên đăng ký các khóa học offline tại Larna đi theo nhóm từ 2 người trở
                                            lên sẽ được giảm 200,000 VNĐ/học viên.</p>
                                        <p>- Đối với khoá offline ngắn hạn, học viên cũ quay lại đăng ký khoá học được
                                            giảm 200,000 VNĐ/học viên</p>
                                    </div><!-- /faq-text -->

                                    <div class="faq-text mb-45">
                                        <h3 class="mb-20">Hoàn trả học phí</h3>
                                        <p><span class="f-700">Lớp online: </span></p>
                                        <p> - Trong vòng 3 ngày kể từ ngày được kích hoạt khóa học, nếu học viên không
                                            hài lòng về chất lượng giảng dạy. Bạn vui lòng gửi lại thông tin qua email:
                                            hello@larna.com hoặc liên hệ hotline: 096 480 6281.</p>
                                        <p> - Larna hoàn 100% học phí bằng chuyển khoản hoặc tiền mặt.</p>

                                        <p><span class="f-700">Lớp offline <= 16 buổi</span></p>
                                        <p> - Học viên học buổi đầu tiên nếu không hài lòng về chất lượng giảng dạy, học
                                            viên được hoàn lại tất cả học phí đã đóng trừ đi học phí của buổi đầu tiên.
                                            Nếu học sang buổi thứ hai thì trung tâm không giải quyết yêu cầu hoàn học
                                            phí </p>

                                        <p><span class="f-700">Lớp thực tập 4.5 tháng và 9 tháng </span></p>
                                        <p> - Trong vòng 3 buổi học đầu tiên, học viên không thấy phù hợp được hoàn lại
                                            toàn bộ học phí đã đóng trừ đi học phí của các buổi đã học + 500,000 VND phí
                                            quản lý lớp. Sau 3 buổi đầu tiên, sinh viên sẽ không được hoàn học phí nếu
                                            nghỉ học và không có bất kỳ ngoại lệ nào được chấp nhận. </p>
                                        <p> - Sinh viên lớp thực tập dài hạn đi đầy đủ (chỉ nghỉ có phép dưới 5 buổi),
                                            hoàn thành 80% bài tập và bảo vệ thành công đồ án tốt nghiệp được cấp chứng
                                            chỉ, sau 60 ngày không xin được việc, Larna hoàn lại toàn bộ học phí đã
                                            đóng cộng thêm 8 triệu VND. </p>
                                    </div><!-- /faq-text -->
                                </div>
                            </div>
                        </div>
                    </div><!-- /faq-wrapper -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <!-- faq-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>

<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>

<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>