<!-- Modal -->
<div class="modal fade" id="course-approve-modal" tabindex="-1" role="dialog"
     aria-hidden="true" th:fragment="course-approve-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chấp thuận/ Từ chối khóa học</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" data-dismiss="modal">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div>Bạn muốn chấp thuận hay từ chối khóa học này?</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="approve-course-btn">Chấp thuận</button>
                <button type="button" class="btn btn-secondary" id="reject-course-btn">Từ chối</button>
            </div>
        </div>
    </div>
</div>