<!-- Modal -->
<div class="modal fade" id="course-modal" tabindex="-1" role="dialog"
     aria-hidden="true" th:fragment="course-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Khóa học</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" data-dismiss="modal">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="course-form">
                    <div class="row">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="mb-3">
                                <label for="title">Tiêu đề<span class="text-danger">*</span></label>
                                <input type="text" placeholder="Nhập tiêu đề" class="form-control w-100" id="title"
                                       name="title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12 order-notes">
                            <div class="mb-3">
                                <label for="description">Mô tả</label>
                                <textarea id="description" placeholder="Nhập mô tả" name="description"
                                          class="primary-border2 w-100 pl-15 py-10 form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12 order-notes">
                            <div class="mb-3">
                                <label for="learningObjectives">Mục tiêu học tập</label>
                                <textarea id="learningObjectives" placeholder="Nhập mục tiêu học tập"
                                          name="learningObjectives"
                                          class="primary-border2 w-100 pl-15 py-10 form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6  col-lg-6  col-md-6  col-sm-6 col-12">
                            <div class="mb-3">
                                <label for="courseFee">Giá khóa học<span class="text-danger">*</span></label>
                                <input type="number" placeholder="Nhập giá khóa học" class="form-control"
                                       id="courseFee" name="courseFee">
                            </div>
                        </div>

                        <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="country-select mb-3">
                                <label for="courseFeeUnit">Đơn vị giá<span class="text-danger">*</span></label>
                                <select class="w-100 form-control" id="courseFeeUnit" name="courseFeeUnit">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="country-select">
                                <label for="difficultyLevel">Cấp độ<span class="text-danger">*</span></label>
                                <select class="w-100 form-control" id="difficultyLevel" name="difficultyLevel">

                                </select>
                            </div>
                        </div>

                        <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="country-select">
                                <label for="trainingFields">Lĩnh vực<span class="text-danger">*</span></label>
                                <select class="w-100 form-control selectpicker h-25" id="trainingFields"
                                        name="trainingFields" multiple data-live-search="true">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2" id="course-common-data">
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="form-group">
                                <label for="course-image">Ảnh khóa học</label>
                                <input type="file" id="course-image" class="form-control" hidden="hidden" accept="image/*">
                                <br>
                                <img src="" id="course-img-show" width="100px"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-course-btn">Lưu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>