<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head(pageTitle = 'Larna - Đăng nhập')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<div id="header-sticky" class="transparent-header header-area home2 home4 white-color-header">
    <div class="header">
        <div class="container-wrapper">
            <div class="row align-items-center justify-content-between position-relative">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 my-3">
                    <div class="logo">
                        <a href="index.html" class="d-block"><img src="/images/logo/logo.png" alt="Larna"></a>
                    </div>
                </div><!-- /col -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5 col-5 pl-lg-0 my-3">
                    <div class="header-right d-flex align-items-center justify-content-end" id="subHeader">
                        <ul class="header-login mr-15 d-none d-sm-block">
                            <li>
                                <a href="/login" class="btn white-bg my-1">Đăng nhập</a>
                            </li>
                        </ul><!-- /header-login -->
                        <div class="my-btn d-none d-sm-block">
                            <a href="/signup" class="btn white-bg my-1">Đăng ký</a>
                        </div><!-- /Sign Up -->
                    </div><!-- /header-right -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
</div><!-- /header-bottom -->
<!--  header-area-end  -->

<main>

    <!-- ====== login-area-start=========================================== -->
    <div class="login-register-area mt-200 mb-60">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                    <div class="login-area mb-60">
                        <h4 class="text-capitalize text-center">Đăng nhập</h4>
                        <div class="login-form mt-40">
                            <form id="login-form">
                                <div class="log-email">
                                    <input class="w-100 primary-border2 pl-20 pt-15 pb-15 pr-10"
                                           type="email" name="email" id="email"
                                           placeholder="quyen@gmail.com">
                                </div>
                                <div class="log-pass mt-15">
                                    <input class="w-100 primary-border2 pl-20 pt-15 pb-15 pr-10"
                                           type="password" name="password" id="password"
                                           placeholder="Nhập mật khẩu">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="save-info login-check d-flex align-items-center mt-4">
                                        <input class="p-0" type="checkbox"
                                               aria-label="Checkbox for following text input">
                                        <p class="main-color mb-0 pl-10">Ghi nhớ tài khoản</p>
                                    </div>
                                    <div class="f-get-pass">
                                        <a th:href="@{/profiles/}" class="main-color d-inline-block mt-4">Quên mật khẩu?</a>
                                    </div>
                                </div>
                            </form>
                            <div class="my-btn mt-4">
                                <button class="btn w-100 theme-bg text-uppercase rounded-0" type="button" id="login-btn">
                                    Đăng nhập
                                </button>
                            </div>
                        </div>
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /login-area -->
    <!-- login-area-end -->


</main>


<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>