<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-css :: html_head(pageTitle = 'Larna - Đăng nhập')}"></head>

<body>

<!--  ====== header-area-start=======================================  -->
<header th:replace="~{fragments/header-website :: header-website}"></header>
<!--  header-area-end  -->

<main>

    <!-- ====== login-area-start=========================================== -->
    <div class="login-register-area mt-200 mb-60">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                    <div class="login-area mb-60">
                        <h4 class="text-capitalize text-center">Đăng nhập</h4>
                        <div class="login-form mt-40">
                            <form id="login-form">
                                <div class="log-email">
                                    <input class="w-100 primary-border2 pl-20 pt-15 pb-15 pr-10"
                                           type="email" name="email" id="email"
                                           placeholder="quyen@gmail.com">
                                </div>
                                <div class="log-pass mt-15">
                                    <input class="w-100 primary-border2 pl-20 pt-15 pb-15 pr-10"
                                           type="password" name="password" id="password"
                                           placeholder="Nhập mật khẩu">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="save-info login-check d-flex align-items-center mt-4">
                                        <input class="p-0" type="checkbox"
                                               aria-label="Checkbox for following text input">
                                        <p class="main-color mb-0 pl-10">Ghi nhớ tài khoản</p>
                                    </div>
                                    <div class="f-get-pass">
                                        <a href="login.html" class="main-color d-inline-block mt-4">Quên mật khẩu?</a>
                                    </div>
                                </div>
                            </form>
                            <div class="my-btn mt-4">
                                <button class="btn w-100 theme-bg text-uppercase rounded-0" type="button" id="login-btn">
                                    Đăng nhập
                                </button>
                            </div>
                        </div>
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /login-area -->
    <!-- login-area-end -->


</main>

<!-- ====== footer-area-start ============================================ -->
<footer th:replace="~{fragments/footer-website :: footer-website}"></footer>


<!-- back top -->
<div id="scroll" class="scroll-up">
    <div class="top text-center"><span class="white-bg theme-color d-block"><i class="fa fa-arrow-alt-up"></i></span>
    </div>
</div>


<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</body>
</html>